.section-3 {
    /* font-family: 'Montserrat', sans-serif; */
    /* background: blue; */
    height: 50vh;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-3 {
    /* border: solid; */
    align-self: center;
    opacity: 0;
    transform: translateX(-200px);
    transition: all 1s ease-out;
}

.images-3 {
    /* border: solid; */
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: scale(0.1);
    transition: all 1s ease-out;
}
.img-3 {
    /* border-radius: 48%; */
    transition: all .5s;
}
.img-3:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.contact-section-visible {
    opacity: 1;
    transform: translateX(0);
    transform: scale(1)
}

.img-3 {
    width: 75px;
    margin: 10px;
}