.section-3 {
    /* font-family: 'Montserrat', sans-serif; */
    /* background: blue; */
    height: 50vh;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-3 {
    /* border: solid; */
    align-self: center;
    opacity: 0;
    transform: translateX(-200px);
    transition: all 1s ease-out;
}

.images-3 {
    border: solid;
    /* width: 50%; */
    align-self: center;
    display: flex;
    justify-content: center;
    /* opacity: 0; */
    transition: all 1.5s ease-out;
}

.visible-3 {
    opacity: 1;
    transform: translateX(0);
}

.img-3 {
    width: 75px;
    margin: 50px;
}