.section-1 {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
}
.intro-text1 {
    margin: 40px 0;
    font-size: 20vh;
    font-weight: 800;
}
.intro-text1 .letter {
    display: inline-block;
}
.intro-text {
    transform: translate(-20px, -20px);
    margin: 0;
    font-size: 10vh;
    font-weight: 100;
}
.section-1 .left {
    width: 50vw;
    padding-left: 10vw;
}
.section-1 .right {
    width: 50vw;
    height: 100vh;
}
.section-1 .left .text-div {
    position: absolute;
}
.chas {
    width: 40vw;
    height: 100vh;
    margin: 0 auto;
    background: url(../images/2T1A3770.jpg);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
}
#chas-img {
    width: 100%;
    height: auto;
}
body{
    margin: 0;
    padding: 0;
}